

<div class="h-100 d-glex flex-column">
  <div class="m-2">
    <div class="d-flex justify-content-between m-2">
      <div class="fs-2"> Company </div><i class="bi bi-plus-circle fs-2"></i>
    </div>
    <div class="w-100 mb-3">
      <input type="text " placeholder="Search" class="w-100 p-2 border-dark">
    </div>
    
      <li class="list-group-item d-flex justify-content-between align-items-center w-100  p-2  border border-dark" *ngFor="let company of companyList">
        <span  class=" border border-dark rounded-circle fs-3">{{company.name |companyLogo}} </span>
        <span>{{ company.name}}</span> <i class="bi bi-x-circle fs-3"></i></li>   
    
  </div>
</div>