<h4 class="p-3">{{title}}   Company</h4>
<form class="container p-2 mt-1  " [formGroup]="companyForm" (ngSubmit)="saveCompany()">
    <div class="mb-1 p-1">
        <input class="form-control border " id="name" formControlName="name" placeholder="name"
            [ngClass]="{'is-invalid':FormControls['name'].invalid && (isSubmitted || FormControls['name'].touched || FormControls['name'].dirty),
        'is-valid':FormControls['name'].valid && (isSubmitted || FormControls['name'].touched || FormControls['name'].dirty)}">

        <div
            *ngIf="FormControls['name'].invalid && (isSubmitted || FormControls['name'].touched || FormControls['name'].dirty)">
            <span class="text-danger" *ngIf="FormControls['name'].errors?.['required']">
                Company name is required
            </span>
        </div>
    </div>
    <div class="mb-1 p-1">
        <input class="form-control border" id="description" style="height: 100px"
            formControlName="description" placeholder="Company Description"
            [ngClass]="{'is-invalid':FormControls['description'].invalid && (isSubmitted || FormControls['description'].touched || FormControls['description'].dirty),
            'is-valid':FormControls['description'].valid && (isSubmitted || FormControls['description'].touched || FormControls['description'].dirty)}">

        <div
            *ngIf="FormControls['description'].invalid && (isSubmitted || FormControls['description'].touched || FormControls['description'].dirty)">
            <span class="text-danger" *ngIf="FormControls['description'].errors?.['required']">
                Company details is required
            </span>
        </div>
    </div>
    <div class="mb-1 p-1">
        <input class="form-control border" id="Tage" formControlName="Tags" placeholder="Select Tags">
    </div>
    <div
    *ngIf="FormControls['Tags'].invalid && (isSubmitted || FormControls['Tags'].touched || FormControls['Tags'].dirty)">
    <span class="text-danger" *ngIf="FormControls['Tags'].errors?.['required']">
        Select atleast one tag
    </span>
</div>

    <div class="mb-1 p-1">
        <input class="form-control border" id="Logo" formControlName="companyLogo"
            placeholder="Select Logo">
    </div>
    <div
        *ngIf="FormControls['companyLogo'].invalid && (isSubmitted || FormControls['companyLogo'].touched || FormControls['companyLogo'].dirty)">
        <span class="text-danger" *ngIf="FormControls['companyLogo'].errors?.['required']">
            Upload company logo
        </span>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn color ms-2 ">Save</button>
        <button type="button" class="btn bt_color ms-2" (click)="resetForm()">Reset</button>
    </div>
</form>