
<nav class="d-flex w-100 flex-column color  p-2 border text-white">
  <div class="d-flex align-items-center">
      <a class="nav-link">
          <span class="bi bi-list me-3 fs-3"></span>
      </a>

      <h4>Companies</h4>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="company" class="text-white">Company</a></li>

          <li class="breadcrumb-item"><a  class="text-white"> {{companyName}}</a></li>
      </ol>
  </nav>
</nav>